* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Oswald-Regular, sans-serif;
}

 form{
	background-color: rgb(91, 104, 219);
	 width: 86%;
	margin: 0 auto 0 auto; 
    display: block;
} 

button{
	margin: 1rem;
}

h3{
	margin-top:1rem;
	text-align: center;
	padding-top: 2rem;
}



@media screen and (max-width: 1024px) {
	.form {
	  width: 50%;
	  display: block;
	  margin-bottom: 20px;
	 
	}
   
  }

  @media screen and (max-width: 900px) {
	.form {
	  width: 100%;
	  display: block;
	  
	}
  
  }
  
   
@media screen and (max-width: 700px) {
	.form {
	  width: 100%;
	  display: block;
	  margin: 20px;
	}
  
  }
  
  